
.name1{
  position: absolute;
  padding: 80px 0px 0px 50px;
  color: white;
  text-align:justify;
}
.name2{
  position: absolute;
  padding: 80px 0px 0px 50px;
  color: white;
  text-align:justify;
}
.name3{
  position: absolute;
  padding: 80px 0px 0px 50px;
  color: white;
  text-align:justify;
}
.name4{
  position: absolute;
  padding: 80px 0px 0px 50px;
  color: white;
  text-align:justify;
}
.name5{
  position: absolute;
  padding: 80px 0px 0px 50px;
  color: white;
  text-align:justify;
}
.name6{
  position: absolute;
  padding: 80px 0px 0px 50px;
  color: white;
  text-align:justify;
}

h1{
  font-style:normal;
  color : gray;
  text-decoration: underline;
}
.coder1 {
  position: relative;
    width:203px;
    height: 116px;
    margin: 20px;
    background: url('../assets/images/foto1.jpg');
}
.coder2  {
  margin:20px 20px 20px 24px;
  width: 200px;
  height: 116px;
  background :url('../assets/images/foto2.jpg');
 }
.coder3 {
    width: 200px;
    height: 116px;
    margin: 20px;

    background: url('../assets/images/foto3.jpg');
  }
  .coder4 {
    width: 200px;
    height: 119px;
    margin: 20px;
    background: url('../assets/images/foto4.jpg');
}
.coder5 {
    width: 200px;
    height: 115px;
    margin: 20px;
    background: url('../assets/images/foto5.jpg');
}
.coder6 {
    width: 200px;
    height: 120px;
    margin: 21px;
    background: url('../assets/images/foto6.jpg');
}
.bloque1{
float: left;
}
.bloque2{
  float:left;
}
.bloque3{
  float: left;
}
